*{
    font-family: 'Alegreya Sans';font-size: 22px;
}
.container{
    padding: 10px;
}
h3{
   text-align: center;
}
.task{
    width: 50%;
    height:40px;
    border-radius: 4px;
    border-color: #dbd8d8;
    color: #c4c1c1;
    padding: 10px;
    margin-left: 25%;
    
}
.add{
    margin-left: 48%;
}
#editing{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
button{
    background-color: rgb(252, 173, 186);
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 40px;
    color: white;
}
ul{
    list-style: none;
}